<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links.css">
    <link rel="stylesheet" href="assets/css/simple-sticky-footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list-task">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"></path>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"></path>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"></path>
                    </svg></span><span>To Do List</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/task/new">Add Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul><a class="btn btn-primary ms-md-2" role="button" href="/register">Sign Up</a>
        </div>
    </div>
</nav>
{{#if tasks}}
    {{#each tasks}}
        <ul>
            <li>{{name}}</li>
            <li>{{description}}</li>
            <button><a href="/tasks/{{id}}/delete">X</a></button>
            <button><a href="/tasks/{{id}}/edit">Edit</a></button>
        </ul>
    {{/each}}
{{/if}}

{{#if editTask}}
    <h1>Edit this Post!</h1>
    <form action="/tasks/{{editTask.id}}/edit" method="post">
        <label for="name">Edit this task's name</label>
        <input id="name" name="name" type="text" value="{{editTask.name}}">
        <label for="description">Edit this task's description</label>
        <input id="description" name="details" type="text" value="{{editTask.description}}">
        <button type="submit">Go</button>
    </form>
{{else}}
    {{/if}}


<div class="container">
    <h1 class="text-light">To Do</h1>
    <div class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start my-2" href="#" data-bs-target="#modal-1" data-bs-toggle="modal">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Heading</h5><small>3 days ago</small>
        </div>
        <p class="mb-1">Paragraph</p><small class="text-muted">Text</small>
    </a>
        <form>
            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Task</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"><input class="form-control form-control-lg my-2" type="text" placeholder="Task name" name="taskName" required=""><input class="form-control form-control-lg my-2" type="text" placeholder="Task Description" name="taskDescription" required="">
                            <div class="form-check my-2 d-none">
                                <input class="form-check-input" type="checkbox" id="formCheck-1">
                                <label class="form-check-label" for="formCheck-1">Completed</label>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Save</button></div>
                    </div>
                </div>
            </div>
        </form>
        <a class="list-group-item list-group-item-action flex-column align-items-start my-2" href="#" data-bs-target="#modal-2" data-bs-toggle="modal">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5><small>3 days ago</small>
            </div>
            <p class="mb-1">Paragraph</p><small class="text-muted">Text</small>
        </a>
        <form>
            <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Task</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"><input class="form-control form-control-lg my-2" type="text" placeholder="Task name" name="taskName" required=""><input class="form-control form-control-lg my-2" type="text" placeholder="Task Description" name="taskDescription" required="">
                            <div class="form-check my-2"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Completed</label></div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Save</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="footer" style="background: rgba(0,0,0,0.8);">
    <div class="container"><span class="text-muted">Copyright (c) 2022 - To-Do-List</span></div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>